div.qp {
	max-width: 900px;
	margin: auto;
}
h3.qpHdr1
{
text-align: center;
color: black;
font-size:large;
padding-bottom: 8px;
}
h3.qpHdr2
{
color:black;
font-size:large;
padding-top: 12px;
}
table.qp
{
border: 1px;
min-width: 100%;
}
th.qp, td.qp
{
text-align: center;
width: 25%;
width: 25%;
}
th.qp
{
font-weight: bold;
font-size: medium;
background-color: black;
color: white;
}
td.qp
{
background-color: white;
font-size: medium;
}
.imgC 
{
/* 	height: 50%; */
	width: 50%;
	text-align: center;
}